* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f6f8fa;
}

/* header */

header {
    background: white;    
}

header img {
    vertical-align: middle;    
}

header span {
    font-size: 45px;
    vertical-align: middle;      
}

/* regole container */

.container {
    margin: 0 20%;
    background: white;
    margin-top: 30px;
    padding: 1% 5%;    
}

/* regole main */

/* regole button */
#button-task {
    background-color: #47acec;
    color: white;
    border-radius: 5px;
    padding: 5px;    
}

#button-section {
    background-color: #fffdfe;
    color: grey;
    border-radius: 5px;
    padding: 5px;    
}

/* regole todo */

.todo {
    margin-top: 5%;
}

.todo div {
    padding: 2% 0;
}

.todo h1 {
    margin-bottom: 1%;
}

.todo h1::before {
    content: "\25BC";
}

.text-check::before {
    content: "\2713";
    color: #83b3a3;
    padding: 5px 8px;
    border-radius: 50%;
    border: 2px solid #83b3a3;     
}

.text-uncheck::before {
    content: "\2717";
    color: #a77680;
    padding: 5px 8px;
    border-radius: 50%;
    border: 2px solid #a77680;     
}



/* regole label */

.label {
    display: inline-block;
    color: white;
    border-radius: 20px;
    padding: 1%;
}

.editorial {
    background-color: #46a9e7;
}

.q1-goals {
    background-color: #9e74eb ;
}

.recruiting {
    background-color: #63c4aa;
}

.mobile {
    background-color: #f09d37;
}

.website {
    background-color: #d365a3;
}

.sales {
    background-color: #afc81e;
}

